<html>
<head></title>
    <%include layout/library.ejs%>
</head>
<body>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">

            <h1></h1>
            <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">CREATE NEW PRODUCT</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form action="/product/createNewProduct" method="post" commandName="formDH">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="productID">Product ID</label>
                                    <input name="productID" type="text" class="form-control " required="true" id="productID" placeholder=""/>
                                </div>
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input name="productName" type="text" class="form-control " required="true" id="productName" placeholder="Name of product"/>
                                </div>
                                <div class="form-group">
                                    <label for="productImage">Product Image</label>
                                    <input name="productImage" type="file" class="form-control" accept=".image/png, .jpgx" id="productImage"/>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea name="description" class="form-control " rows="3" id="description" placeholder="Enter ..."></textarea>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary btn-flat pull-right">ADDING NEW PRODUCT <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%include layout/footer.ejs%>
</div>
<!-- ./wrapper -->

</body>

</body>
</html>