<html>
<head></title>
    <%include layout/library.ejs%>
</head>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">


            <h1></h1>
            <div class="row ">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">CREATE NEW PURCHASE ORDER</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form  action="/purchase-order/add" method="post" commandName="formDH">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="po-number">PO (PRE-ORDER) NUMBER</label>
                                    <input name="poNumber" type="text" class="form-control " id="po-number" placeholder="PO NUMBER"/>
                                </div>
                                <div class="form-group">
                                    <label for="po-name">PO NAME</label>
                                    <input name="poName" type="text" class="form-control " id="po-name" placeholder="PO NAME"/>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div id='customer-id'>
                                                <label for="customer">CUSTOMER</label>
                                                <select id="customer" class="form-control select2" name="customer" style="width: 100%;">
                                                    <% customers.forEach(function(customer) { %>
                                                    <option value="<%=customer._id %>"><%= customer.last_name %></option>
                                                    <% }); %>
                                                </select>
                                                <input type="hidden" name="typeName" id="type-name" >
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <label for="currency-id">CURRENCY</label>
                                            <select id="currency-id" class="form-control select2" name="currency"  style="width: 100%;">
                                                <option value="VND">VND</option>
                                                <option value="USD">USD</option>
                                                <option value="EUR">EUR</option>
                                                <option value="CNY">CNY</option>
                                                <option value="INR">INR</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="delivery-to">DELIVERY TO</label>
                                    <input path="deliveryTo" type="text" class="form-control " id="delivery-to" placeholder="DELIVERY TO"/>
                                </div>
                                <div class="form-group ${addCreatedDate }" id="ngayXuatXuong">
                                    <label for="created-date">CREATED DATE</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control " id="created-date"  name="createdDate"
                                               placeholder="yyyy/mm/dd" value="${valueCreatedDate }" data-inputmask="'alias': 'yyyy/mm/dd'" data-mask />
                                    </div>

                                </div>

                                <div class="form-group ${addClassNgayTauChayHangDen }">
                                    <label for="ngay-tau-chay">RECEIVE PO DATE <i class="fa fa-long-arrow-right"></i> RELEASE PO DATE</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right "
                                               name="receivedandreleaseDate" id="delivery-date"
                                               placeholder="yyyy/mm/dd - yyyy/mm/dd" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="note">NOTE</label>
                                    <textarea name="note" class="form-control " rows="3" id="note" placeholder="Enter ..."></textarea>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary btn-flat pull-right">ADD NEW PURCHASE ORDER <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>

            </div>
        </section>
    </div>
    <%include layout/footer.ejs%>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        $('#currency-id').select2();
        $('#customer').select2();
    });
    $(function () {
        $("#datemask2").inputmask("yyyy/mm/dd", {"placeholder": "yyyy/mm/dd"});
        $("[data-mask]").inputmask();
        var currentDate = new Date();
        $('#delivery-date').daterangepicker({
            "showDropdowns": true,
            "autoApply": false,
            "locale": {
                "format": "YYYY/MM/DD",
                "separator": " - ",
                "applyLabel": "Apply",
                "cancelLabel": "Cancel",
                "fromLabel": "From",
                "toLabel": "To",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"
                ],
                "monthNames": [
                    "January", "February", "March", "April", "May", "June", "July",
                    "August", "September", "Octorber", "November", "December"
                ],
                "firstDay": 1
            },
            "startDate": currentDate,
            "endDate": currentDate
        });
        $('#created-date').datepicker({
            format: 'yyyy/mm/dd',
            language: 'vi'
        });
        $('#created-date').val(currentDate);
        $("form").submit(function(){
            var valid = true;
            var createdDate = $('#created-date').val();
            if(!moment(createdDate, "YYYY/MM/DD", true).isValid()) {
                valid = false;
                $('#created-date').addClass('has-error');
                return false;
            }
        });
    });

</script>
</body>
</html>