<html>
<head></title>
    <%include layout/library.ejs%>
</head>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">

            <h1></h1>
            <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">CREATE NEW PRODUCT</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form action="/product/createNewProduct" method="post" commandName="formDH">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="productID">Product ID</label>
                                    <input name="productID" type="text" class="form-control " required="true" id="productID" placeholder=""/>
                                </div>
                                <div class="form-group">
                                    <label for="productName">Product Name</label>
                                    <input name="productName" type="text" class="form-control " required="true" id="productName" placeholder="Name of product"/>
                                </div>
                                <div class="form-group">
                                    <label for="productImage">Product Image</label>
                                    <input name="productImage" type="file" class="form-control" accept=".image/png, .jpgx" id="productImage"/>
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                        <div id='SuppID'>
                                            <label for="supllier-id">Supplier's infor</label>
                                            <div id="supplierID"></div>

                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <button style=" margin-top: 20px; " type="button" onclick="fillDataSupplier()" class="btn bg-olive btn-flat margin">LOAD THE INFORMATION</button>
                                    </div>
                                    <div class="col-xs-3">
                                        <button style=" margin-top: 20px; " type="button" onclick="addNewSupplier()" class="btn bg-olive btn-flat margin">ADD NEW SUPPLIER</button>
                                    </div>
                                </div>
                                <br>
                                <div id="loadSupplierInformation">

                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea name="description" class="form-control " rows="3" id="description" placeholder="Enter ..."></textarea>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary btn-flat pull-right">ADDING NEW PRODUCT <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%include layout/footer.ejs%>
</div>
<!-- ./wrapper -->
<script>
    loadSupplier('');
    function loadSupplier(supplierID){
        $.ajax({
            type: "get",
            url: '/product/load-suppliers-information',
            dataType : 'json',
            data: '',
            success: function(response) {

                var row = '';
                row +='<select id="supplier-ID" class="form-control select2" name="supplierID"  style="width: 100%;">';
                for(var i = 0; i < response.suppliers.length; i++)
                {
                    if (supplierID == response.suppliers[i].supplier_id) {
                        row += '<option value="' + response.suppliers[i]._id + '" selected>' + response.suppliers[i].supplier_id + ' - ' + response.suppliers[i].supplier_name + '</option>';

                    } else {
                        row += '<option value="' + response.suppliers[i]._id + '">' + response.suppliers[i].supplier_id + ' - ' + response.suppliers[i].supplier_name + '</option>';
                    }
                }

                row += '</select>';
                $("#supplierID").html(row);
                $('.select2').select2();
            }
        });

    }
    function fillDataSupplier(){
        var supplierID=$('#supplier-ID').val();
        var row = '';
        $.ajax({
            type: "get",
            url: '/product/ajax/load-supplier-information',
            dataType : 'json',
            data: {
                supplierID: supplierID
            },
            success: function(response) {
                var supplier = response.supplier;
                row += '<div class="form-group">';
                row +=		'<label for="supp-address">SUPPLIER ADDRESS</label> ';
                row +=		'<input name="supAddress" type="text" class="form-control " value="'+supplier.address+'" id="dia-chi" placeholder="SUPPLIER ADDRESS"/>';
                row +='</div>';
                row += '<div class="form-group">';
                row +=		'<label for="supp-tax-number">TAX NUMBER</label> ';
                row +=		'<input name="supTaxNumber" type="text" class="form-control " value="'+supplier.tax_number+'" id="ma-so-thue" placeholder="TAX NUMBER"/>';
                row +='</div>';
                row += '<div class="row">';
                row += 		'<div class="col-xs-5">';
                row += 			'<label for="supp-telephone">TELEPHONE</label> ';
                row +=			'<input name="supTelephone" type="text" class="form-control " value="'+supplier.contact_phone+'" id="so-dien-thoai" placeholder="TELEPHONE NUMBER"/>';
                row +=		'</div>'
                row += 		'<div class="col-xs-5">';
                row += 			'<label for="fax">FAX</label> ';
                row +=			'<input name="fax" type="text" class="form-control " value="'+supplier.fax_number+'" id="fax" placeholder="FAX"/>';
                row +=		'</div>'
                row +='</div>';
                row +='<br>';
                $('#loadSupplierInformation').html(row);
            }
        });
    }
    function addNewSupplier(){
        var row = '';
        row += '<div class="box box-solid box-primary">';
        row += '<div class="box-header with-border">';
        row += '<h3 class="box-title">ADD NEW A SUPPLIER</h3>';
        row += '</div><!-- /.box-header -->';
        row += '<div class="box-body">';
        row += '<div class="row">';
        row += '<div class="col-md-12">';

        row +=  '<div class="form-group" id="fID">';
        row +=  '<label>SUPPLIER ID</label> <span id="errorNCC"></span>';
        row +=  '<input id="fsupplierId" name="suppID" class="form-control" placeholder="Enter ..." />';
        row +=  '</div>';

        row +=  '<div class="form-group" id="fName">';
        row +=  '<label>SUPPLIER NAME</label>';
        row +=  '<input id="fsupplierName" name="suppName" class="form-control" placeholder="Enter ..." />';
        row +=  '</div>';

        row +=  '<div class="form-group" id="fAddress">';
        row +=  '<label>ADDRESS</label>';
        row +=  '<input id="fsuppAddress" name="suppAddress" class="form-control" placeholder="Enter ..." />';
        row +=  '</div>';

        row +=  '<div class="form-group" id="fTaxNumber">';
        row +=  '<label>TAX NUMBER</label>';
        row +=  '<input id="fsuppTaxNumber" name="suppTaxNumber" class="form-control" placeholder="Enter ..." />';
        row +=  '</div>';

        row +=  '<div class="form-group" id="fTelephone">';
        row +=  '<label>TELEPHONE</label>';
        row +=  '<input id="fsuppTelephone" name="suppTelephone" class="form-control" placeholder="Enter ..." />';
        row +=  '</div>';


        row +=  '<div class="form-group" id="fFax">';
        row +=  '<label>FAX</label>';
        row +=  '<input id="FFax" name="fax" class="form-control" placeholder="Enter ..." />';
        row +=  '</div>';




        row +=  '</div>';
        row +=  '</div>';
        row +=  '</div><!-- /.box-body -->';
        row +=  '</div>';

        bootbox.dialog({
            title: "ADD NEW SUPPLIER",
            message: row,
            size: 'large',
            onEscape: function() {
                bootbox.hideAll();
            },
            buttons: {
                main: {
                    label: "CANCLE",
                    className: "btn-default btn-flat",
                    callback: function () {
                        bootbox.hideAll();
                    }
                },
                success: {
                    label: "ADD",
                    className: "btn-success btn-flat",
                    callback: function () {
                    }
                }
            }
        });
    }
</script>
</body>
</html>