<html>
<head><title><%= title %></title>
    <%include layout/library.ejs%>
</head>
<body>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->
        <%include layout/contentHeader.ejs%>
        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">

            <h1></h1>
            <p>Welcome to </p>
            <form method="POST" action="/addCustomer">
                <div class="form-group">
                    <label>Last Name:</label>
                    <input class="form-control"  type="text" name="last_name" id="last_name"/>
                </div>
                <div class="form-group">
                    <label>First Name:</label>
                    <input class="form-control" name="first_name" required="required" type="text"/>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" name="email" type="text"/>
                </div>
                <div class="form-group">
                    <label>Contact Phone:</label>
                    <input class="form-control" name="contact_phone" type="text"/>
                </div>
                <div class="form-group">
                    <label>Address:</label>
                    <input class="form-control" name="address" type="text"/>
                </div><br/>
                <input class="btn btn-primary" type="submit" value="submit"/>
            </form>
        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%include layout/footer.ejs%>
</div>
<!-- ./wrapper -->

</body>

</body>
</html>