<html xmlns="http://www.w3.org/1999/html">
<head><title><%= title %></title>
    <%include ./layout/library.ejs%>

</head>
<body>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include ./layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include ./layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->
        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">
            <div class="container">
                <div class="row">
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-body no-padding">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div><!-- /.box-body -->
                </div><!-- /. box -->
            </div>
            </div>
            </div>


        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%include ./layout/footer.ejs%>
    <script src="resources/AdminLTE-2.3.0/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="resources/AdminLTE-2.3.0/bootstrap/js/bootstrap.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- Slimscroll -->
    <script src="resources/AdminLTE-2.3.0/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="resources/AdminLTE-2.3.0/plugins/fastclick/fastclick.min.js"></script>
    <!-- AdminLTE App -->
    <script src="resources/AdminLTE-2.3.0/dist/js/app.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="resources/AdminLTE-2.3.0/dist/js/demo.js"></script>
    <!-- fullCalendar 2.2.5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    <script src="resources/AdminLTE-2.3.0/plugins/fullcalendar/fullcalendar.min.js"></script>


    <script>
    var curEvents = [];
    var tasks = <%- JSON.stringify(tasks) %>;
    for(var i = 0;i < tasks.length; i ++){
        curEvents.push({
            title: tasks[i].title,
            start: tasks[i].deadline,
            allDay:false
        });
    }
        $('#calendar').fullCalendar({
            events: curEvents,
            eventColor: '#378006'
        });
    </script>
</div>
<!-- ./wrapper -->

</body>

</body>
</html>