<html>
<head><title><%= title %></title>
    <%include ./layout/library.ejs%>
</head>
<body>
<body class="skin-blue fixed sidebar-mini">
        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">
            <body class="hold-transition login-page">
            <div class="login-box">
                <div class="login-logo">
                    <b>E</b>CRM
                </div><!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">Sign in to start your session</p>
                    <form action="/login/checkAuthentication" method="post">
                        <div class="form-group has-feedback">
<<<<<<< HEAD
                            <input type="text" name="email" class="form-control" placeholder="UserName">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
=======
                            <input type="text" name="email" class="form-control" placeholder="Email">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
>>>>>>> avazbaba
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" class="form-control" placeholder="Password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-8">
                                <div class="checkbox icheck">
                                    <label>
                                        <input type="checkbox"> Remember Me
                                    </label>
                                </div>
                            </div><!-- /.col -->
                            <div class="col-xs-4">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                            </div><!-- /.col -->
                        </div>
                    </form>
                    <a href="./forgot_password">I forgot my password</a><br>
                  <!--  <a href="register.html" class="text-center">Register a new membership</a>-->

                </div><!-- /.login-box-body -->
            </div><!-- /.login-box -->


            </body>

        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
        <%include ./layout/footer.ejs%>


</body>

</body>
</html>
