<html>
<head><title><%= title %></title>
    <%include ./layout/library.ejs%>
</head>
<body>
<body class="skin-blue fixed sidebar-mini">
<div style="padding-top: 5px"></div>
<!-- Main content -->
<section class="content">
    <body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>E</b>CRM
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Reset password</p>
            <form method="post">
                <div class="row">

                    <div class="col-xs-9">
                        <div class="form-group has-feedback">
                            <label for="password">New password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="New password">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <div class="form-group has-feedback">
                            <label for="confirm">Confirm New Password</label>
                            <input type="password" id="confirm" name="confirm" class="form-control" placeholder="New password">
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Update your password</button>
                    </div><!-- /.col -->
                </div>
            </form>
            <!--  <a href="register.html" class="text-center">Register a new membership</a>-->

        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->


    </body>

</section><!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%include ./layout/footer.ejs%>


</body>

</body>
</html>
