<html>
<head></title>
    <%include layout/library.ejs%>
</head>
<body class="skin-blue fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include layout/header.ejs%>
    <!-- =============================================== -->

    <!-- Left side column. contains the sidebar -->
    <%include layout/menu.ejs%>
    <!-- =============================================== -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 265px;">
        <!-- Content Header (Page header) -->

        <!-- =============================================== -->

        <div style="padding-top: 10px"></div>
        <!-- Main content -->
        <section class="content">

            <h1></h1>
            <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <div class="box box-solid box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Send PROMOTION</h3>
                        </div>

                        <!-- /.box-header -->
                        <!-- form start -->

                        <form action="SendEmailPromotion" method = "post" id="sendEmail">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="promotions">Email</label>
                                    <input name="Email" type="text" class="form-control " required="true" id="Email" placeholder=""/>
                                </div>
                                <div class="form-group">
                                    <label for="promotionName">Select Promotion</label>
                                    <select class="form-control select2" multiple="multiple" name="promotions" id="promotions" data-placeholder="Select Promotion" style="width: 100%;" >
                                        <%for (var i=0; i< promotion.length; i++){%>
                                        <option><%= promotion[i].promotion_name%></option>
                                        <%}%>
                                    </select>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label for="promotionName">Subject</label>-->
                                    <!--<input name="Subject" type="text" class="form-control " required="true" id="Subject" placeholder="Name of Promotion"/>-->
                                <!--</div>-->
                                <div class="form-group">
                                    <label for="promotionName">Message</label>
                                    <textarea name="Message" type="text" class="form-control " required="true" id="Message" placeholder="Name of Promotion">
                                    </textarea>
                                </div>
                                <!--<div class="form-group">-->
                                    <!--<label for="promotionImage">Promotion Image</label>-->
                                    <!--<input name="promotionImage" type="file" class="form-control" accept=".image/png, .jpgx" id="promotionImage"/>-->
                                <!--</div>-->
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary btn-flat">Send Email <i class="fa fa-chevron-right"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section><!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%include layout/footer.ejs%>
</div>

<script>
    $("#sendEmail").submit(function(e){
        //preventDefault();
        e.preventDefault();
        $.ajax({
            type: 'POST',
                url: '/SendEmailPromotion',
            data: $('#sendEmail').serialize(),
            success: function () {
                // alert('form was submitted');
                bootbox.alert('Promotion Mail Sent successfully');

            }
        });
       // alert("Submitted");
    });
</script>
</body>
</html>
