<style>
    .content-header > .breadcrumb {
        float: left;
        position: static;
        font-size: 20px;
    }
</style>
<section class="content-header">
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> HOME</li>
    </ol>
</section>