<footer class="main-footer">
    <div>
        <div class="pull-right hidden-xs">
            <b></b>
        </div>
        <strong>Copyright &copy; <span id="dateFooter"></span> <a href="#"></a>.
        </strong> All rights reserved.
    </div>
    <script type="text/javascript">

        $('#dateFooter').html(new Date().getFullYear());
    </script>
    <!-- /.container -->
</footer>
