
<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>CRM</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          	<img src='../resources/TDST.svg' style=" width:100px; margin-top: 7px; ">
          </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <% if(session.nickname){%>
                        <img src='../resources/user.png'
                             class="user-image" alt="User Image">
                        <!-- <c:choose>
                             <c:when test="${sessionScope.user.username == 'admin@anhkhoabrother.com' }">
                                 <img src='<c:url value="/hrm/nhan-vien/imageDisplay?idUser=${sessionScope.user.id }" />'
                                      class="user-image" alt="User Image">
                             </c:when>
                             <c:otherwise>
                                 <img src='<c:url value="/resources/user.png" />'
                                      class="user-image" alt="User Image">
                             </c:otherwise>
                         </c:choose>-->
                        <span class="hidden-xs"><%= session.nickname%></span>
                        <%}else{%>
                        <img src='../resources/user.png'
                             class="user-image" alt="User Image">
                        <!-- <c:choose>
                             <c:when test="${sessionScope.user.username == 'admin@anhkhoabrother.com' }">
                                 <img src='<c:url value="/hrm/nhan-vien/imageDisplay?idUser=${sessionScope.user.id }" />'
                                      class="user-image" alt="User Image">
                             </c:when>
                             <c:otherwise>
                                 <img src='<c:url value="/resources/user.png" />'
                                      class="user-image" alt="User Image">
                             </c:otherwise>
                         </c:choose>-->
                        <span class="hidden-xs">Anonymous User</span>
                        <%}%>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src='../resources/user.png'
                                 class="img-circle" alt="User Image">
                            <!-- <c:choose>
                                 <c:when test="${sessionScope.user.username == 'admin@anhkhoabrother.com' }">
                                     <img src='<c:url value="/hrm/nhan-vien/imageDisplay?idUser=${sessionScope.user.id }" />'
                                          class="img-circle" alt="User Image">
                                 </c:when>
                                 <c:otherwise>
                                     <img src='<c:url value="/resources/user.png" />'
                                          class="img-circle" alt="User Image">
                                 </c:otherwise>
                             </c:choose>
                             <!--<p>
                                 ${sessionScope.user.firstName} ${sessionScope.user.lastName}
                                 <small>${sessionScope.role.name}</small>
                             </p>-->
                        </li>
                        <!-- Menu Body -->

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <!-- <a href="<c:url value="/user" />" class="btn btn-default btn-flat">-->Profile
                            </div>
                            <div class="pull-right">
                                <i class="fa fa-sign-out"></i> <a href="/logout">Log out</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>



</header>