<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <div class="slimScrollDiv"
         style="position: relative; overflow: hidden; width: auto; height: 266px;">
        <section class="sidebar"
                 style="height: 266px; overflow: hidden; width: auto;">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <c:choose>
                        <c:when test="${sessionScope.user.username == 'admin@anhkhoabrother.com' }">
                            <img src='<c:url value="/hrm/nhan-vien/imageDisplay?idUser=${sessionScope.user.id }" />'
                                 class="img-circle" alt="User Image">
                        </c:when>
                        <c:otherwise>
                            <img src='<c:url value="/resources/user.png" />'
                                 class="img-circle" alt="User Image">
                        </c:otherwise>
                    </c:choose>

                </div>
                <div class="pull-left info">
                    <p>Welcome,<br> ${sessionScope.user.firstName} ${sessionScope.user.lastName}</p>
                </div>
            </div>

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'DonHang')}">class="treeview active"</c:when><c:otherwise>class="treeview"</c:otherwise></c:choose> ><a href="#"> <i
                    class="fa fa-dashboard"></i> <span>Đơn Hàng</span> <i
                    class="fa fa-angle-left pull-right"></i>
            </a>
                <ul class="treeview-menu">
                    <li <c:choose><c:when test="${(tag == 'DonHangQuocTe_Xem') || (tag == 'DonHangQuocTe_Tao') || (tag == 'DonHangQuocTe_Sua')}">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-plane"></i> Quốc Tế<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'DonHangQuocTe_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/quoc-te" />"><i class="fa fa-circle-o"></i> Xem Đơn Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'DonHangQuocTe_TienDoDonHang' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/quoc-te/tien-do-don-hang" />"><i class="fa fa-circle-o"></i> Tiến Độ Đơn Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'DonHangQuocTe_Tao'}">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/quoc-te/tao-don-hang" />"><i class="fa fa-circle-o"></i> Tạo Đơn Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'DonHangQuocTe_Sua'}">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/quoc-te/sua-don-hang" />"><i class="fa fa-circle-o"></i> Sửa Đơn Hàng</a>
                        </li>
                    </ul>
                    </li>

                    <li <c:choose><c:when test="${(tag == 'DonHangNoiDia_Xem') || (tag == 'DonHangNoiDia_Tao') || (tag == 'DonHangNoiDia_Sua') }">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-circle-o"></i> Nội Địa<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'DonHangNoiDia_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/noi-dia" />"><i class="fa fa-circle-o"></i> Xem Đơn Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'DonHangNoiDia_TienDoDonHang' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/noi-dia/tien-do-don-hang" />"><i class="fa fa-circle-o"></i> Tiến Độ Đơn Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'DonHangNoiDia_Tao' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/noi-dia/tao-don-hang" />"><i class="fa fa-circle-o"></i> Tạo Đơn Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'DonHangNoiDia_Sua' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/don-hang/noi-dia/sua-don-hang" />"><i class="fa fa-circle-o"></i> Sửa Đơn Hàng</a>
                        </li>
                    </ul>
                    </li>
                </ul>
                </li>

                <!-- LỆNH SẢN XUẤT -->
                <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'LenhSanXuat')}">class="treeview active"</c:when><c:otherwise>class="treeview"</c:otherwise></c:choose>><a href="#"> <i
                    class="fa fa-dashboard"></i> <span>Lệnh Sản Xuất</span> <i
                    class="fa fa-angle-left pull-right"></i>
            </a>
                <ul class="treeview-menu">
                    <li <c:choose><c:when test="${(tag == 'LenhSanXuatQT_Xem') || (tag == 'LenhSanXuatQT_Sua')}">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-plane"></i> Quốc Tế<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'LenhSanXuatQT_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/lenh-san-xuat/quoc-te" />"><i class="fa fa-circle-o"></i> Xem Lệnh Sản Xuất</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'LenhSanXuatQT_Sua'}">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/lenh-san-xuat/quoc-te/edit" />"><i class="fa fa-circle-o"></i> Sửa Lệnh Sản Xuất</a>
                        </li>
                    </ul>
                    </li>

                    <li <c:choose><c:when test="${(tag == 'LenhSanXuatNoiDia_Xem') || (tag == 'LenhSanXuatNoiDia_Sua') }">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-circle-o"></i> Nội Địa<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'LenhSanXuatNoiDia_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/lenh-san-xuat/noi-dia" />"><i class="fa fa-circle-o"></i> Xem Lệnh Sản Xuất</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'LenhSanXuatNoiDia_Sua' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/lenh-san-xuat/noi-dia/edit" />"><i class="fa fa-circle-o"></i> Sửa Lệnh Sản Xuất</a>
                        </li>
                    </ul>
                    </li>

                </ul>
                </li>

                <!-- PHIẾU SẢN XUẤT -->
                <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'PhieuSanXuat')}">class="treeview active"</c:when><c:otherwise>class="treeview"</c:otherwise></c:choose>><a href="#"> <i
                    class="fa fa-dashboard"></i> <span>Phiếu Sản Xuất</span> <i
                    class="fa fa-angle-left pull-right"></i>
            </a>
                <ul class="treeview-menu">
                    <li <c:choose><c:when test="${(tag == 'PhieuSanXuatQT_ThanhPham') || (tag == 'PhieuSanXuatQT_DongGoi')}">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-plane"></i> Quốc Tế<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'PhieuSanXuatQT_ThanhPham' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/phieu-san-xuat/quoc-te/thanh-pham" />"><i class="fa fa-circle-o"></i> Phiếu Thành Phẩm</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'PhieuSanXuatQT_DongGoi'}">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/phieu-san-xuat/quoc-te/dong-goi" />"><i class="fa fa-circle-o"></i> Phiếu Đóng Gói</a>
                        </li>
                    </ul>
                    </li>

                    <li <c:choose><c:when test="${(tag == 'PhieuSanXuatNoiDia_ThanhPham') || (tag == 'PhieuSanXuatNoiDia_DongGoi') }">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-circle-o"></i> Nội Địa<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'PhieuSanXuatNoiDia_ThanhPham' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/phieu-san-xuat/noi-dia/thanh-pham" />"><i class="fa fa-circle-o"></i> Phiếu Thành Phẩm</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'PhieuSanXuatNoiDia_DongGoi' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/phieu-san-xuat/noi-dia/dong-goi" />"><i class="fa fa-circle-o"></i> Phiếu Đóng Gói</a>
                        </li>
                    </ul>
                    </li>

                    <li <c:choose><c:when test="${tag == 'PhieuSanXuat_CongViec'}">class="active"</c:when></c:choose>>
                    <a href="<c:url value="/phieu-san-xuat/cong-viec" />"><i class="fa fa-circle-o"></i> Công Việc</a>
                    </li>
                    <li <c:choose><c:when test="${tag == 'PhieuSanXuat_FormThanhPham'}">class="active"</c:when></c:choose>>
                    <a href="<c:url value="/phieu-san-xuat/thanh-pham/form" />"><i class="fa fa-circle-o"></i> Form Thành Phẩm</a>
                    </li>
                    <li <c:choose><c:when test="${tag == 'PhieuSanXuat_FormDongGoi'}">class="active"</c:when></c:choose>>
                    <a href="<c:url value="/phieu-san-xuat/dong-goi/form" />"><i class="fa fa-circle-o"></i> Form Đóng Gói</a>
                    </li>
                </ul>
                </li>

                <!-- ĐƠN MUA HÀNG -->
                <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'KeToan')}">class="treeview active"</c:when><c:otherwise>class="treeview"</c:otherwise></c:choose>><a href="#"> <i
                    class="fa fa-dashboard"></i> <span>Kế Toán</span> <i
                    class="fa fa-angle-left pull-right"></i>
            </a>
                <ul class="treeview-menu">
                    <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'KeToan')}">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-plane"></i> Đơn Mua Hàng<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'KeToanDonMuaHang_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/ke-toan/don-mua-hang" />"><i class="fa fa-circle-o"></i> Xem Đơn Mua Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KeToanDonMuaHang_XemChuaVe' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/ke-toan/don-mua-hang-chua-ve-kho" />"><i class="fa fa-circle-o"></i> ĐMH Chưa Về Kho</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KeToanDonMuaHang_Tao' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/ke-toan/don-mua-hang/tao-don-mua-hang" />"><i class="fa fa-circle-o"></i> Tạo Đơn Mua Hàng</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KeToanDonMuaHang_Sua' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/ke-toan/sua-don-mua-hang" />"><i class="fa fa-circle-o"></i> Sửa Đơn Mua Hàng</a>
                        </li>
                    </ul>
                    </li>


                </ul>
                </li>


                <!-- KHO -->
                <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'Kho')}">class="treeview active"</c:when><c:otherwise>class="treeview"</c:otherwise></c:choose>><a href="#"> <i
                    class="fa fa-dashboard"></i> <span>Kho</span> <i
                    class="fa fa-angle-left pull-right"></i>
            </a>
                <ul class="treeview-menu">
                    <li <c:choose><c:when test="${(tag == 'KhoHangTon_Xem') || (tag == 'KhoHangTon_Sua')}">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-plane"></i> Vật Tư<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'KhoHangTon_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/hang-ton-kho" />"><i class="fa fa-circle-o"></i> Xem Vật Tư</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoHangTon_Tao' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/vat-tu/tao-vat-tu" />"><i class="fa fa-circle-o"></i> Tạo Vật Tư</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoHangTon_Sua'}">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/vat-tu/sua-vat-tu" />"><i class="fa fa-circle-o"></i> Sửa Vật Tư</a>
                        </li>
                    </ul>
                    </li>

                    <li <c:choose><c:when test="${(tag == 'KhoPhieuNhapKho_Xem') || (tag == 'KhoPhieuNhapKho_Tao') || (tag == 'KhoPhieuNhapKho_Sua') || (tag == 'KhoPhieuNhapKho_Transfer') }">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-circle-o"></i> Nhập Kho<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'KhoPhieuNhapKho_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/danh-sach-phieu-nhap-kho/phieu-nhap-kho/xem" />"><i class="fa fa-circle-o"></i> Xem Phiếu Nhập</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoPhieuNhapKho_Tao' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/phieu-nhap-kho/them" />"><i class="fa fa-circle-o"></i> Tạo Phiếu Nhập</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoPhieuNhapKho_Transfer' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/phieu-nhap-kho/transfer" />"><i class="fa fa-circle-o"></i> Transfer Vật tư</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoPhieuNhapKho_Sua' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/sua-phieu-nhap-kho/home" />"><i class="fa fa-circle-o"></i> Sửa Phiếu Nhập</a>
                        </li>
                    </ul>
                    </li>


                    <li <c:choose><c:when test="${(tag == 'KhoPhieuXuatKho_Xem') || (tag == 'KhoPhieuXuatKho_Tao') || (tag == 'KhoPhieuXuatKho_Sua') }">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-circle-o"></i> Xuất Kho<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'KhoPhieuXuatKho_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/phieu-xuat-kho" />"><i class="fa fa-circle-o"></i> Xem Phiếu Xuất</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoPhieuXuatKho_Tao' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/phieu-xuat-kho/tao-phieu-xuat-kho" />"><i class="fa fa-circle-o"></i> Tạo Phiếu Xuất</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoPhieuXuatKho_Sua' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/sua-phieu-xuat-kho/home-sua" />"><i class="fa fa-circle-o"></i> Sửa Phiếu Xuất</a>
                        </li>
                    </ul>
                    </li>



                    <li <c:choose><c:when test="${(tag == 'KhoTaiNhap_Xem') || (tag == 'KhoTaiNhap_Tao') || (tag == 'KhoTaiNhap_Sua') }">class="active"</c:when></c:choose>>
                    <a href="#"><i class="fa fa-circle-o"></i> Tái Nhập Kho<i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li <c:choose><c:when test="${tag == 'KhoTaiNhap_Xem' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/tai-nhap-kho" />"><i class="fa fa-circle-o"></i> Xem Phiếu Tái Nhập</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoTaiNhap_Tao' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/tai-nhap-kho/tao-phieu-tai-nhap" />"><i class="fa fa-circle-o"></i> Tạo Phiếu Tái Nhập</a>
                        </li>
                        <li <c:choose><c:when test="${tag == 'KhoTaiNhap_Sua' }">class="active"</c:when></c:choose>>
                        <a href="<c:url value="/kho/tai-nhap-kho/sua-phieu-tai-nhap" />"><i class="fa fa-circle-o"></i> Sửa Phiếu Tái Nhập</a>
                        </li>
                    </ul>
                    </li>
                    <li <c:choose><c:when test="${tag == 'Kho_file' }">class="active"</c:when></c:choose>>
                    <a href="<c:url value="/kho/file" />"><i class="fa fa-file-excel-o" aria-hidden="true"></i>File Giao Hàng</a>
                    </li>

                </ul>
                </li>

                <!-- XUẤT BÁO CÁO -->
                <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'export')}">class="treeview active"</c:when><c:otherwise>class="treeview"</c:otherwise></c:choose>>
                <a href="<c:url value="/export" />">
                <i class="fa fa-dashboard"></i>
                <span>Xuất Báo Cáo</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                </li>

                <li <c:choose><c:when test="${fn:containsIgnoreCase(tag, 'ActivityLogsUser')}">class="treeview active"</c:when><c:otherwise>class="treeview"</c:otherwise></c:choose>>
                <a href="<c:url value="/log/activity-logs-user" />">
                <i class="fa fa-exclamation-triangle"></i>
                <span>Activity Logs User</span>
                <i class="fa fa-angle-left pull-right"></i>
                </a>
                </li>
            </ul>
        </section>
        <div class="slimScrollBar"
             style="width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 71.7606px; background: rgba(0, 0, 0, 0.2);"></div>
        <div class="slimScrollRail"
             style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div>
    </div>
    <!-- /.sidebar -->
</aside>