<link rel="stylesheet" href='../resources/AdminLTE-2.3.0/dist/css/StepProcess.css'></link>

<div id="steps">
    <a class="step" href="#">...</a>
</div>

<script src='./resources/AdminLTE-2.3.0/dist/js/StepProcess.js'></script>