<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register New Employee</title>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
<div w3-include-html="../layout/header.html"></div>
<div class="content-wrapper">
    <div class="container-fluid">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fa fa-table"></i> Insert The Information of New Employee</div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="firstName">First name</label>
                                <input class="form-control" id="firstName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
                            </div>
                            <div class="col-md-6">
                                <label for="lastName">Last name</label>
                                <input class="form-control" id="lastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="birthday">Birthday</label>
                                <div class='input-group date' id='datetimepicker1'>
                                    <input type='text' class="form-control" id="birthday"/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="department">Department</label>
                                <input class="form-control" id="department" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="exampleInputPassword1">Password</label>
                                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-6">
                                <label for="exampleConfirmPassword">Confirm password</label>
                                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-primary" href="login.html">Register</a>
                </form>

            </div>
        </div>
    </div>
</div>
<div w3-include-html="../layout/footer.html"></div>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>
</body>
</html>